<% include headerAdmin %>
<% include navAdmin %>

<br>

<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body profile bg-info">
            <tbody> <% for (var u of data) { %>
            <div class="profile-logo">
                <img src="/images/events/logo.png" alt="WorkEvent">
                <br>
            </div>
            <div class="profile-logo"><h3>WorkEvent</h3></div>

        </div>


    </div>

</div>

</tbody><%} %>


<% include footerAdmin %>
