<% include headerAdmin %>
<% include navAdmin %>

<!-- <h2><%= (isNew) ? '' : 'Registo de Novo Patrocinio ' %></h2> -->
<% for (var e of errors) { %>
<div class="alert alert-danger"><%= e.msg %></div>
<%}%>


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/sessoes">Home</a></li>
    <li class="active">Sessoes</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Registo de nova Sessão</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">


    <div class="row">
        <div class="col-md-6">
            <!-- START JQUERY VALIDATION PLUGIN -->
            <div class="block">
                <h4>Modificar dados</h4>
                <form id="jvalidate" role="form" class="form-horizontal" action="/sessoes/<%= (isNew) ? 'create' : patrocinios.Patrocinador %>"   method="post"  name="form">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nome da sessão:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="nome"  placeholder="Nome da Sessão!" required  >
                                <span class="help-block">Nome da sessão</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Inicio da sessão:</label>
                            <div class="col-md-9">
                                <input name="inicio" id="montante" class="form-control"  type="datetime-local" required>
                                <span class="help-block">Hora e data inicial da sessão</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fim da sessao:</label>
                            <div class="col-md-9">
                                <input type="datetime-local" class="form-control" name="fim"  />
                                <span class="help-block">Hora e data final da sessão</span>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-md-3 control-label">Speaker:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="urllogo"  />
                                <span class="help-block">Speaker da sessão</span>
                            </div>
                        </div>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="/sessoes"><button class="btn btn-primary" type="button">Back</button></a>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>

                </form>
                </div>
                <!-- END JQUERY VALIDATION PLUGIN -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
<!--</div>-->


<% include footerAdmin %>