<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Registo de Conta</title>
  <!-- Bootstrap core CSS-->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/9a14895eb3.js"></script>
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registar conta</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Primeiro Nome</label>
                <input class="form-control" id="nome" type="text" aria-describedby="nameHelp" placeholder="Introduza o seu primeiro nome">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Apelido</label>
                <input class="form-control" id="apelido" type="text" aria-describedby="nameHelp" placeholder="Introduza o seu apelido">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" aria-describedby="emailHelp" placeholder="Introduza o seu email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="password" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirmar password</label>
                <input class="form-control" id="password2" type="password" placeholder="Confirmar password">
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" onclick="validar()">Registar</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.ejs">Login</a>
          <a class="d-block small" href="forgot-password.ejs">Esqueceu a Password?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/popper/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/validar_utilizador.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
