<footer class="text-center parallax">
    <a class="up-arrow" href="#site-header" data-toggle="tooltip" title="Para o Topo e mais Além">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <h3>Desenvolvido pelo grupo 156</h3>
</footer>

</body>
</html>