<% include partials/header %>
<br>

s
        <div class="form-group col-lg-12" >
            <div class="card hovercard">
                <div class="useravatar">
                    <img alt="" src="http://attackprevention.com/wp-content/uploads/2015/09/web-security.jpg" style="width: 100%; height: auto">
                </div>
            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">

                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Bilhete dia</div>
                </button>
            </div>
            <div class="btn-group" role="group">

                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Pack Bilhetes</div>
                </button>
            </div>

        </div>

        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <div class="form-group">
                        <div class="form-row">

                            <div class="form-group">
                                <label for="username">Preço bilhete simples:</label>
                                <input type="text" class="form-control" id="bilhete" placeholder="15€" name="bilhete" disabled >
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <div class="input-group" >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="date" class="form-control" placeholder="depart" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <div class="input-group" >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="number" class="form-control" placeholder="Quantidade" />
                        </div>
                    </div>


                </div>

                <div class="tab-pane fade in" id="tab2">
                    <div class="form-group">
                        <div class="form-group col-lg-6" >
                            <input type="text" name="" class="form-control" id="" value=""  placeholder="From">
                        </div>
                        <div class="form-group col-lg-6" >
                            <input type="text" name="" class="form-control" id="" value=""  placeholder="To">
                        </div>

                    </div>
                    <div class="form-group col-lg-6">
                        <div class="input-group" >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="date" class="form-control" placeholder="depart" />
                        </div>
                    </div>
                    <div class="form-group col-lg-">
                        <div class="input-group" >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="date" class="form-control" placeholder="depart" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6>
                        <div class="input-group" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Passengers" />
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-lg btn3d" role="button"><span class="glyphicon glyphicon-tag">Find Ticket</a>

        </div>
</div>
</body>



