<% include partials/header %>

<h1 class="text-center">BILHETEIRA</h1>
<br>
<!--Produtos-->
<div class="container">
    <div class="row">
          <div class="col-md-4 col-sm-6">
            <span class="thumbnail">
                <img src="./images/bilhete_geral.jpg" alt="..."> <!--Imagem do dia princiapl-->
                <h4>BILHETE X</h4>
                <div> <!--Status do bilhete se está disponível ou não-->
                    <span>Status: </span><span class="text-danger"><strong>Sould Out!</strong></span>
                </div>
                    <p>Aqui vai ficar descrito os vários speakers do dia. </p>
                    <hr class="line">
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Preço</th>
                                    <th class="text-center">Quantidade</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-4 col-md-4">
                                        <div>
                                            <p class="price">10.00€</p>
                                        </div>
                                    </td>
                                    <td class="col-sm-4 col-md-4">
                                        <div>
                                            <input type="number" class="form-control" value="0" min="0" max="1000">
                                        </div>
                                    </td>
                                    <td class="col-sm-4 col-md-4">
                                        <div>
                                            <button class="btn btn-success center"> ADICIONAR</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </span>
        </div>
    </div>
</div>